

#header{
    position: sticky;
    top: 0;
    width: 100%;
    padding: 5px 15px;
    background: #23292e;
    z-index: 9;
    box-shadow: 0 0 8px 5px rgba(0,0,0,.4);
}
#header a{
    color: white;
}
#header a:hover{
    text-decoration: none;
}
.logo_camel{
    font-size: 36px;
    margin-right: 20px;
}
#header ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.head_parent{
    display: flex;
    align-items: baseline;
}
ul.head_list_first, ul.head_list_second{
    display: flex;
    align-items: baseline;
}
li.list-drop{
    position: relative;
}
li.list-drop ul.dropdown{
    position: absolute;
    top: 10px;
    left: 15px;
    width: 100%;
    padding: 14px 0;
    border-radius: 3px;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: hidden;
    background: #464646;
    box-shadow: 0 3px 10px 0px rgba(0,0,0,.7);
    transition: all .4s;
}
li.list-drop:hover ul.dropdown{
    top: 30px;
    opacity: 1;
    visibility: visible;
    max-height: 100vh;
}
li.list-drop ul.dropdown > li{
    margin: 5px 0;
}
#header ul.head_list_first > li > ul{
    padding-bottom: 8px;
}
ul.head_list_first li.list-drop ul.dropdown a{
    position: relative;
    display: block;
    padding: 5px 10px;
}
ul.head_list_first li.list-drop ul.dropdown a:after{
    position: absolute;
    content: '';
    width: 5%;
    height: 2px;
    bottom: 0;
    left: 5px;
    background: #f7f7f7;
    transition: all .4s;
}
ul.head_list_first li.list-drop ul.dropdown a:hover:after{
    width: 90%;
}
#header ul.head_list_first > li > a{
    padding: 10px 15px;
}
#header ul.head_list_second > li > a{
    padding: 10px 8px;
}
a.login:after{
    position: relative;
    content: '/';
    right: -8px;
}
li.list-drop:after{
    position: relative;
    top: 0;
    content: '\f107';
    font-family: fontAwesome;
    font-size: 14px;
    right: 5px;
    color: white;
    transition: all .4s;
}
li.list-drop:hover:after{
    transform: rotate(45deg);
}
.head_list_second li.list-drop ul.dropdown{
    background: #f7f7f7;
    border: 1px solid #dfdfdf;
    left: -10%;
    overflow: initial;
    width: 120%;
}
.head_list_second li.list-drop ul.dropdown a{
    color: #333 !important;
    padding: 0 10px;
    line-height: 40px;
}
.nav-total{
    position: relative;
}
.nav-total span.total {
    position: absolute;
    top: 2px;
    right: 0;
    width: 16px;
    height: 16px;
    background: red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 10px;
}
#navbarDropdown img{
    width: 25px;
    height: 25px;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
}