@import url('header.css');
@import url('footer.css');
@import url('font.css');

* {
    margin: 0;
    padding: 0;
}
body *{
    font-family: 'Nunito';
    
}

.pt-80{
    padding-top: 80px;
}
.pb-80{
    padding-bottom: 80px;
}
.container_camel{
    width: 1140px;
    margin: 0 auto;
}
    /* SCROLL BAR */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: #b1f1ea;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #5a5a5a82;
}
    /* END SCROLL BAR */

    /* BOI DEN */
::selection {
    background:#d3d3d3; 
    color:#555;
}
::-moz-selection {
    background:#d3d3d3; 
    color:#555;
}
::-webkit-selection {
    background:#d3d3d3; 
    color:#555;
}
    /* END BOI DEN */
@media(max-width: 1200px){
    .container_camel{
        width: 980px;
    }
}
@media(max-width: 991px){
    .container_camel{
        width: 740px;
    }
}
@media(max-width: 767px){
    .container_camel{
        width: 500px;
    }
}
@media(max-width: 575px){
    .container_camel{
        width: 100%;
        padding: 0 8px;
    }
}